USE [BanOto]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCarIDNext]    Script Date: 08-Apr-18 1:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_GetCarIDNext]()
returns varchar(50)
as
begin
	declare @Idx int
	declare @CarID varchar(50) = 'XE00001'
	set @Idx = 1;

	while(exists(select * from [Xe] where MaXe = @CarID))
	begin
		set @Idx = @Idx + 1
		set @CarID = 'XE'+REPLICATE('0', 5-LEN(cast(@Idx as varchar))) + CAST(@Idx as varchar)
	end
	return @CarID
end
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetHoaDonIDNext]    Script Date: 08-Apr-18 1:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FN_GetHoaDonIDNext]()
returns varchar(50)
as
begin
	declare @Idx int
	declare @HoaDonID varchar(50) = 'HD00001'
	set @Idx = 1;

	while(exists(select * from [DonHang] where MaDH = @HoaDonID))
	begin
		set @Idx = @Idx + 1
		set @HoaDonID = 'HD'+REPLICATE('0', 5-LEN(cast(@Idx as varchar))) + CAST(@Idx as varchar)
	end
	return @HoaDonID
end
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetLogIDNext]    Script Date: 08-Apr-18 1:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_GetLogIDNext]()
returns varchar(50)
as
begin
	declare @Idx int
	declare @LogID varchar(50) = 'LOG00001'
	set @Idx = 1;

	while(exists(select * from [Logs] where MaLog = @LogID))
	begin
		set @Idx = @Idx + 1
		set @LogID = 'LOG'+REPLICATE('0', 5-LEN(cast(@Idx as varchar))) + CAST(@Idx as varchar)
	end
	return @LogID
end
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetUserIDNext]    Script Date: 08-Apr-18 1:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_GetUserIDNext]()
returns varchar(50)
as
begin
	declare @Idx int
	declare @UserID varchar(50) = 'US00001'
	set @Idx = 1;

	while(exists(select * from [User] where UserName = @UserID))
	begin
		set @Idx = @Idx + 1
		set @UserID = 'US'+REPLICATE('0', 5-LEN(cast(@Idx as varchar))) + CAST(@Idx as varchar)
	end
	return @UserID
end
GO
/****** Object:  Table [dbo].[Anh]    Script Date: 08-Apr-18 1:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anh](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[Src] [nvarchar](250) NULL,
	[MaXe] [varchar](50) NULL,
 CONSTRAINT [PK_Anh] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBL] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[NoiDung] [nvarchar](550) NULL,
	[MaXe] [varchar](50) NULL,
	[HoTen] [nvarchar](250) NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Counter]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counter](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[IPAdress] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Counter] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[MaDH] [varchar](50) NOT NULL,
	[MaXe] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ChuThich] [nvarchar](250) NULL,
	[MaTT] [int] NULL,
	[MaVC] [int] NULL,
	[NgayDH] [datetime] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHopSo]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHopSo](
	[MaHS] [int] IDENTITY(1,1) NOT NULL,
	[TenHS] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiHopSo] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLX] [int] IDENTITY(1,1) NOT NULL,
	[TenLX] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiXe] PRIMARY KEY CLUSTERED 
(
	[MaLX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[MaLog] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Messages] [nvarchar](250) NULL,
	[TimeLogin] [datetime] NULL,
	[TimeLogout] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[Type] [varchar](50) NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau](
	[MaMau] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mau] PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDung]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDung](
	[From] [varchar](50) NOT NULL,
	[To] [varchar](50) NOT NULL,
	[Message] [nvarchar](550) NULL,
 CONSTRAINT [PK_NoiDung] PRIMARY KEY CLUSTERED 
(
	[From] ASC,
	[To] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tilte] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Anh] [nvarchar](250) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](50) NULL,
	[ChietKhau] [float] NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaTH] [int] IDENTITY(1,1) NOT NULL,
	[TenTH] [nvarchar](50) NULL,
	[Anh] [nvarchar](250) NULL,
 CONSTRAINT [PK_ThuongHieu] PRIMARY KEY CLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[From] [varchar](50) NOT NULL,
	[To] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TinNhan_1] PRIMARY KEY CLUSTERED 
(
	[From] ASC,
	[To] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [varchar](20) NULL,
	[GT] [bit] NULL,
	[MaQuyen] [int] NOT NULL,
	[Avatar] [nvarchar](250) NULL,
	[IsLock] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanChuyen]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanChuyen](
	[MaVC] [int] IDENTITY(1,1) NOT NULL,
	[TenVC] [nvarchar](50) NULL,
	[PhiVC] [float] NULL,
 CONSTRAINT [PK_VanChuyen] PRIMARY KEY CLUSTERED 
(
	[MaVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 08-Apr-18 1:35:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](50) NOT NULL,
	[TenXe] [nvarchar](150) NOT NULL,
	[DungTichXiLanh] [nvarchar](250) NULL,
	[MaMau] [int] NULL,
	[LoaiHopSo] [int] NULL,
	[MaXX] [int] NULL,
	[MaLoaiXe] [int] NULL,
	[MaTH] [int] NULL,
	[CongXuat] [nvarchar](250) NULL,
	[ChoNgoi] [int] NULL,
	[GiaBan] [money] NOT NULL,
	[GiamGia] [float] NULL,
	[MomenXoan] [nvarchar](250) NULL,
	[KieuTruyenDong] [nvarchar](550) NULL,
	[TrongLuong] [float] NULL,
	[ChieuCao] [int] NULL,
	[ChieuRong] [int] NULL,
	[ChieuDai] [int] NULL,
	[TangAp] [bit] NULL,
	[MamVanh] [nvarchar](250) NULL,
	[PhanhTruoc] [nvarchar](250) NULL,
	[PhanhSau] [nvarchar](250) NULL,
	[KichCoLopT] [nvarchar](250) NULL,
	[KichCoLopS] [nvarchar](250) NULL,
	[HeThongTreoTruoc] [nvarchar](550) NULL,
	[HeThongTreoSau] [nvarchar](550) NULL,
	[KhoangSangGam] [int] NULL,
	[HeThongDenT] [nvarchar](550) NULL,
	[HeThongDenS] [nvarchar](550) NULL,
	[HeThongLoa] [nvarchar](550) NULL,
	[GuongChieuHau] [bit] NULL,
	[ChongBoABS] [bit] NULL,
	[MoTa] [nvarchar](550) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DanhGia] [int] NULL,
	[TinhTrang] [bit] NULL,
	[SoLuong] [int] NULL,
	[NamSX] [varchar](50) NULL,
	[Anh] [nvarchar](250) NULL,
	[TimeCreate] [datetime] NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 08-Apr-18 1:35:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[MaXX] [int] IDENTITY(1,1) NOT NULL,
	[TenXX] [nvarchar](50) NULL,
 CONSTRAINT [PK_XuatXu] PRIMARY KEY CLUSTERED 
(
	[MaXX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anh] ON 

INSERT [dbo].[Anh] ([MaAnh], [Src], [MaXe]) VALUES (1, N'1.jpg', N'XE00001')
INSERT [dbo].[Anh] ([MaAnh], [Src], [MaXe]) VALUES (2, N'2.jpg', N'XE00001')
INSERT [dbo].[Anh] ([MaAnh], [Src], [MaXe]) VALUES (3, N'3.jpg', N'XE00001')
SET IDENTITY_INSERT [dbo].[Anh] OFF
INSERT [dbo].[CTDonHang] ([MaDH], [MaXe], [SoLuong]) VALUES (N'HD00001', N'XE00001', 1)
INSERT [dbo].[CTDonHang] ([MaDH], [MaXe], [SoLuong]) VALUES (N'HD00002', N'XE00010', 1)
INSERT [dbo].[DonHang] ([MaDH], [HoTen], [DiaChi], [Sdt], [Email], [TrangThai], [ChuThich], [MaTT], [MaVC], [NgayDH], [TongTien]) VALUES (N'HD00001', N'Nguyen Van A', N'Ha Noi', N'0977206532', N'nguoiyeuemchanthan@gmail.com', N'Đã xử lý', NULL, 1, 4, CAST(N'2018-04-04T00:00:00.000' AS DateTime), 1560000000.0000)
INSERT [dbo].[DonHang] ([MaDH], [HoTen], [DiaChi], [Sdt], [Email], [TrangThai], [ChuThich], [MaTT], [MaVC], [NgayDH], [TongTien]) VALUES (N'HD00002', N'Nguyễn Văn B', N'Hà Nội', NULL, NULL, N'Chưa xử lý', NULL, 1, 4, CAST(N'2018-04-05T00:00:00.000' AS DateTime), 843908625.0000)
SET IDENTITY_INSERT [dbo].[LoaiHopSo] ON 

INSERT [dbo].[LoaiHopSo] ([MaHS], [TenHS]) VALUES (1, N'Tự động')
INSERT [dbo].[LoaiHopSo] ([MaHS], [TenHS]) VALUES (3, N'Số sàn')
SET IDENTITY_INSERT [dbo].[LoaiHopSo] OFF
SET IDENTITY_INSERT [dbo].[LoaiXe] ON 

INSERT [dbo].[LoaiXe] ([MaLX], [TenLX]) VALUES (1, N'Sedan')
INSERT [dbo].[LoaiXe] ([MaLX], [TenLX]) VALUES (4, N'SUV')
INSERT [dbo].[LoaiXe] ([MaLX], [TenLX]) VALUES (5, N'Coupe')
SET IDENTITY_INSERT [dbo].[LoaiXe] OFF
INSERT [dbo].[Logs] ([MaLog], [UserName], [Messages], [TimeLogin], [TimeLogout], [TimeCreate], [Type], [IsRead]) VALUES (N'', N'US00001', N'admin@admin.com Đăng xuất hệ thống vào 01:04 05-49-2018', NULL, CAST(N'2018-04-05T01:49:20.120' AS DateTime), CAST(N'2018-04-05T01:49:20.120' AS DateTime), N'logout', 1)
INSERT [dbo].[Logs] ([MaLog], [UserName], [Messages], [TimeLogin], [TimeLogout], [TimeCreate], [Type], [IsRead]) VALUES (N'LOG00001', N'US00001', N'Login to administrator system', CAST(N'2018-04-03T00:00:00.000' AS DateTime), NULL, CAST(N'2018-04-03T17:05:00.000' AS DateTime), N'fa-sign-in', 1)
INSERT [dbo].[Logs] ([MaLog], [UserName], [Messages], [TimeLogin], [TimeLogout], [TimeCreate], [Type], [IsRead]) VALUES (N'LOG00002', N'US00001', N'Upload file to server', CAST(N'2018-04-03T17:05:31.593' AS DateTime), NULL, CAST(N'2018-04-03T17:05:31.593' AS DateTime), N'fa-upload', 1)
SET IDENTITY_INSERT [dbo].[Mau] ON 

INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (1, N'Trắng')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (2, N'Xanh dương')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (3, N'Đỏ')
SET IDENTITY_INSERT [dbo].[Mau] OFF
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([ID], [Tilte], [Type], [Anh], [CreateTime]) VALUES (1, N'Khuyến mại đến 20%', N'khuyến mại 20% các sản phẩm', N'banner-05.jpg', NULL)
INSERT [dbo].[Slide] ([ID], [Tilte], [Type], [Anh], [CreateTime]) VALUES (3, N'Sản phẩm mới nhập', N'Sản phẩm mới về', N'Normal-2018-Toyota-Corolla-Altis-1-8G-CVT-20180311170834888.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Slide] OFF
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaTT], [TenTT], [ChietKhau]) VALUES (1, N'Thẻ tín dụng', 5)
INSERT [dbo].[ThanhToan] ([MaTT], [TenTT], [ChietKhau]) VALUES (2, N'Chuyển khoản', 5)
INSERT [dbo].[ThanhToan] ([MaTT], [TenTT], [ChietKhau]) VALUES (3, N'Thanh toán trực tiếp', 0)
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [Anh]) VALUES (1, N'Toyota', N'toyota.png')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [Anh]) VALUES (2, N'Ford', N'ford.jpg')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH], [Anh]) VALUES (3, N'Honda', N'honda.png')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
INSERT [dbo].[User] ([UserName], [HoTen], [MatKhau], [Email], [DiaChi], [Sdt], [GT], [MaQuyen], [Avatar], [IsLock]) VALUES (N'US00001', N'admin', N'admin', N'admin@admin.com', NULL, NULL, 0, 1, N'dummy.png', 0)
INSERT [dbo].[User] ([UserName], [HoTen], [MatKhau], [Email], [DiaChi], [Sdt], [GT], [MaQuyen], [Avatar], [IsLock]) VALUES (N'US00002', N'user', N'user', N'user@user.com', NULL, NULL, 0, 2, N'dummy.png', 0)
INSERT [dbo].[User] ([UserName], [HoTen], [MatKhau], [Email], [DiaChi], [Sdt], [GT], [MaQuyen], [Avatar], [IsLock]) VALUES (N'US00003', N'user', N'12345', N'user@user.com', N'', N'', 0, 2, N'dummy.png', 0)
SET IDENTITY_INSERT [dbo].[VanChuyen] ON 

INSERT [dbo].[VanChuyen] ([MaVC], [TenVC], [PhiVC]) VALUES (4, N'Tàu hỏa', 5)
INSERT [dbo].[VanChuyen] ([MaVC], [TenVC], [PhiVC]) VALUES (5, N'Tàu thủy', 10)
INSERT [dbo].[VanChuyen] ([MaVC], [TenVC], [PhiVC]) VALUES (6, N'Ôtô', 5)
SET IDENTITY_INSERT [dbo].[VanChuyen] OFF
SET IDENTITY_INSERT [dbo].[XuatXu] ON 

INSERT [dbo].[XuatXu] ([MaXX], [TenXX]) VALUES (1, N'Nhập khẩu')
INSERT [dbo].[XuatXu] ([MaXX], [TenXX]) VALUES (2, N'Trong nước')
SET IDENTITY_INSERT [dbo].[XuatXu] OFF
ALTER TABLE [dbo].[Counter] ADD  CONSTRAINT [DF_Counter_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[CTDonHang] ADD  CONSTRAINT [DF_CTDonHang_SoLuong]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_NgayDH]  DEFAULT (getdate()) FOR [NgayDH]
GO
ALTER TABLE [dbo].[Logs] ADD  CONSTRAINT [DF_Logs_TimeLogin]  DEFAULT (getdate()) FOR [TimeLogin]
GO
ALTER TABLE [dbo].[Logs] ADD  CONSTRAINT [DF_Logs_TimeCreate]  DEFAULT (getdate()) FOR [TimeCreate]
GO
ALTER TABLE [dbo].[Slide] ADD  CONSTRAINT [DF_Slide_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  CONSTRAINT [DF_ThanhToan_ChietKhau]  DEFAULT ((0)) FOR [ChietKhau]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsLock]  DEFAULT ((0)) FOR [IsLock]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_GiaBan]  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_TangAp]  DEFAULT ((0)) FOR [TangAp]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_ChongBoABS]  DEFAULT ((0)) FOR [ChongBoABS]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_DanhGia]  DEFAULT ((0)) FOR [DanhGia]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_TinhTrang]  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF_Xe_TimeCreate]  DEFAULT (getdate()) FOR [TimeCreate]
GO
ALTER TABLE [dbo].[Anh]  WITH CHECK ADD  CONSTRAINT [FK_Anh_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Anh] CHECK CONSTRAINT [FK_Anh_Xe]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_Xe]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_DonHang]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_Xe]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_ThanhToan] FOREIGN KEY([MaTT])
REFERENCES [dbo].[ThanhToan] ([MaTT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_ThanhToan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_VanChuyen] FOREIGN KEY([MaVC])
REFERENCES [dbo].[VanChuyen] ([MaVC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_VanChuyen]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_User]
GO
ALTER TABLE [dbo].[NoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NoiDung_TinNhan] FOREIGN KEY([From], [To])
REFERENCES [dbo].[TinNhan] ([From], [To])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NoiDung] CHECK CONSTRAINT [FK_NoiDung_TinNhan]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Quyen]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiHopSo] FOREIGN KEY([LoaiHopSo])
REFERENCES [dbo].[LoaiHopSo] ([MaHS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiHopSo]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiXe] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiXe]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_Mau] FOREIGN KEY([MaMau])
REFERENCES [dbo].[Mau] ([MaMau])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_Mau]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_ThuongHieu] FOREIGN KEY([MaTH])
REFERENCES [dbo].[ThuongHieu] ([MaTH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_ThuongHieu]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_XuatXu] FOREIGN KEY([MaXX])
REFERENCES [dbo].[XuatXu] ([MaXX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_XuatXu]
GO
/****** Object:  StoredProcedure [dbo].[FC_GetUserIDNext]    Script Date: 08-Apr-18 1:35:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FC_GetUserIDNext]
@UserID varchar(50) out
as
begin
	declare @Idx int
	set @UserID = 'US00001'
	set @Idx = 1;

	while(exists(select * from [User] where UserName = @UserID))
	begin
		set @Idx = @Idx + 1
		set @UserID = 'US'+REPLICATE('0', 5-LEN(cast(@Idx as varchar))) + CAST(@Idx as varchar)
	end
	return @UserID
end
GO
